<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5944e3ada48860df"></script>
<script>'use strict';var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-1155730-1']),_gaq.push(['_setDomainName','webwise.co.il']),_gaq.push(['_trackPageview']),function(){var a=document.createElement('script');a.type='text/javascript',a.async=!0,a.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var b=document.getElementsByTagName('script')[0];b.parentNode.insertBefore(a,b)}();</script>
</body>
</html>